h1{
    font-size: 48px;
    font-weight: bold;
}
.section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
    
}
.section h1{
    margin: 20px;
}
.section p{
    width: 600px;
    font-size: 32px;
}
.section1 img {
    height: 460px;
}
.section2{
    background-color: var(--s-l-green);
    text-align: center;
}
.section2 p {
    width: 80%;
    margin: 0 10%;
}
.section3{
    display: block;
    text-align: center;
    background-color: var(--light-gray);
}
 .services{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
 }
.services h1{
    font-size: 3.5rem;
}
.services p,a{
    font-size: 2.6rem;
    max-width: 200px;
    margin: auto;
    color: black;
}
.services p{
    
    margin-bottom: 20px;
}
.services div{
    border-radius: 8px;
    width: 400px;
    background-color: #fff;
    padding: 50px 20px;
}