<div class="page6 non-admin">
    <div class="section pg6sec1">
        <div class="subsectionpg6">
            <h1>Найближчі Риболовні Турніри</h1>
            <p>Відкрийте для себе захопливий світ змагань з риболовлі. Дізнайтеся про майбутні події, правила участі та зареєструйтеся вже сьогодні!</p>
        </div>
        <img src="assets/photos/tournament.jpg" alt="Турнір">
    </div>

    <div class="section section3">
        <h1>Календар подій</h1>
        <div class="services serpage2">
            <div class="tour-div">
                <img class="tour-img" src="assets/photos/p3.jpg" alt="Осінній кубок">
                <h1>Осінній кубок</h1>
                <p class="date">24 жовтня</p>
            </div>
            <div class="tour-div">
                <img class="tour-img" src="assets/photos/p1.jpg" alt="Весняна щука">
                <h1>Весняна щука</h1>
                <p class="date">15 травня</p>
            </div>
            <div class="tour-div">
                <img class="tour-img" src="assets/photos/p2.jpg" alt="Короповий Бум">
                <h1>Короповий Бум</h1>
                <p class="date">24 червня</p>
            </div>
        </div>
    </div>

    <div class="section pg6sec4">
        <h1>Правила участі</h1>
        
        <p class="date">Загальні правила участі</p>
        <p>
            1. До участі допускаються особи старше 18 років. Особи від 14 до 18 років можуть брати участь лише у супроводі дорослих. <br>
            2. Реєстрація на турнір є обов'язковою та здійснюється заздалегідь через офіційний сайт або на місці проведення, якщо це дозволено організаторами. <br>
            3. Учасники повинні дотримуватися правил поводження на водоймі та поважати інших рибалок. <br>
            4. Заборонено використання заборонених знарядь лову або методів, що суперечать законодавству України та місцевим правилам риболовлі.
        </p>

        <p class="date">Правила лову</p>
        <p>
            1. Дозволяється використання лише однієї вудки (спінінга) на одного учасника, якщо інше не зазначено в умовах конкретного турніру. <br>
            2. Використання живої наживки може бути обмежено або заборонено для певних турнірів. Детальну інформацію дивіться в положенні турніру. <br>
            3. Вся спіймана риба, що не відповідає мінімальному розміру або виду, повинна бути негайно відпущена назад у водойму з мінімальними пошкодженнями (принцип "зловив-відпусти"). <br>
            4. Вага та розмір трофейної риби фіксуються суддями.
        </p>

        <p class="date">Реєстрація і внески</p>
        <p>
            1. Для реєстрації необхідно заповнити онлайн-форму та сплатити реєстраційний внесок при приході на місце де проводиться турнір.<br>
            2. Розмір реєстраційного внеску та спосіб оплати вказані на сторінці кожного турніру.
        </p>

        <p class="date">Визначення переможця</p>
        <p>
            1. Переможці визначаються за найбільшою сумарною вагою улову або за вагою найбільшої спійманої риби, залежно від умов турніру. <br>
            2. Усі рішення суддів є остаточними та не підлягають оскарженню. <br>
            3. Церемонія нагородження відбудеться після закінчення турніру.
        </p>
    </div>
</div>