<div class="page3 non-admin">
    <div class="section-al">
        <div class="altankas">
            <img src="assets/photos/al8.png" alt="Альтанка 8 місць">
            <div>
                <h2>Альтанка 8 місць</h2>
                <p>600грн/доба</p>
                <button class="book-btn" (click)="openBooking('al8')">Забронювати</button>




            </div>
        </div>
        <div class="altankas">
            <img src="assets/photos/al12.png" alt="Альтанка 12 місць">
            <div>
                <h2>Альтанка 12 місць</h2>
                <p>1000грн/доба</p>
                <button class="book-btn" (click)="openBooking('al12')">Забронювати</button>
            </div>
        </div>
        <div class="altankas">
            <img src="assets/photos/al.jpg" alt="Місце для рибалки">
            <div>
                <h2>Місце для рибалки</h2>
                <p>300грн/доба</p>
                <button class="book-btn" (click)="openBooking('fish_spot')">Забронювати</button>
            </div>
        </div>
    </div>

    <div class="section section2pg3">
        <h1>Детальний перелік послуг</h1>

        <div class="accordion">
            <input type="checkbox" id="opt1">
            <label class="accordion-header" for="opt1">
                <span>Оренда вудилищ і снастей</span>
                <img src="assets/photos/down.png" alt="arrow">
            </label>
            <div class="accordion-content">
                <p>
                    Вудилище в оренду 100грн / доба<br>
                    Спінінг 150 грн / доба<br>   
                    Підсак 50 грн / доба<br>
                    Садок для риби 50 грн / доба<br>
                    Стійка (рогачик) для вудки 30 грн / доба
                </p>
            </div>
        </div>

        <div class="accordion">
            <input type="checkbox" id="opt2">
            <label class="accordion-header" for="opt2">
                <span>Продаж приманок і наживок</span>
                <img src="assets/photos/down.png" alt="arrow">
            </label>
            <div class="accordion-content">
                <p>
                    Черв’як 30 грн<br>
                    Кукурудза 30 грн<br>
                    Опариш 40 грн<br>
                    Прикормки на місці
                </p>
            </div>
        </div>

        <div class="accordion">
            <input type="checkbox" id="opt3">
            <label class="accordion-header" for="opt3">
                <span>Оренда човнів</span>
                <img src="assets/photos/down.png" alt="arrow">
            </label>
            <div class="accordion-content">
                <p>
                    Надувна лодка 300 грн<br>
                    Деревяна лодка 600 грн<br>
                    Надувна з мотором 500 грн<br>
                    Деревяна з мотором 800 грн
                </p>
            </div>
        </div>

        <div class="accordion">
            <input type="checkbox" id="opt4">
            <label class="accordion-header" for="opt4">
                <span>Оренда альтанок</span>
                <img src="assets/photos/down.png" alt="arrow">
            </label>
            <div class="accordion-content">
                <p>
                    Альтанка на 8 місць 600грн / доба<br>
                    Альтанка на 12 місць 1000грн / доба<br>
                    При забронюванні всіх альтанок функція буде не доступною
                </p>
            </div>
        </div>

        <div class="accordion">
            <input type="checkbox" id="opt5">
            <label class="accordion-header" for="opt5">
                <span>Ціни за кг виловленої риби</span>
                <img src="assets/photos/down.png" alt="arrow">
            </label>
            <div class="accordion-content">
                <p>
                    Короп 100грн кг<br>
                    Амур 120грн кг<br>
                    Карась до 3кг безплатно, далі 70грн кг<br>
                    Товстолоб 200грн кг
                </p>
            </div>
        </div>

        <div class="accordion">
            <input type="checkbox" id="opt6">
            <label class="accordion-header" for="opt6">
                <span>Інші послуги</span>
                <img src="assets/photos/down.png" alt="arrow">
            </label>
            <div class="accordion-content">
                <p>
                    Баня 600грн<br>
                    Чан з травами 3000грн<br>
                    Массаж 1000грн<br>
                    Зйом будиночка 2000грн / доба<br>
                    Організація заходів за номером +380123456789
                </p>
            </div>
        </div>
    </div>
</div>