<div *ngIf="!isAdmin" class="page1 non-admin">
  <div class="section section1">
    <div>
      <h1>Вітаємо у Тихій Воді</h1>
      <p>Ідеальне місце для спокійної риболовлі, сімейного відпочинку та незабутніх моментів на природі.</p>
    </div>
    <div>
      <img src="assets/photos/im1.png" alt="">
    </div>
  </div>

  <div class="section section2">
    <div>
      <h1>Ласкаво просимо до нашої водойми</h1>
      <p>Ласкаво просимо до "Тихої Води" — оазису спокою та гармонії, де кожен знайде щось для себе. Ми пропонуємо більше, ніж просто риболовлю; це місце, де ви можете відпочити від міської метушні, насолодитися природою та створити незабутні спогади з близькими. Наші чисті води, затишні альтанки та привітний персонал забезпечать вам безтурботний відпочинок.</p>
    </div>
  </div>

  <div class="section section3">
    <h1>Наші Послуги</h1>
    <div class="services">
      <div>
        <img src="assets/photos/greenSalmon.png" alt="">
        <h1>Елітна риболовля</h1>
        <p>Насолоджуйтесь виловом трофейної риби в наших водах.</p>
      </div>
      <div>
        <img src="assets/photos/greenSalmon.png" alt="">
        <h1>Затишні альтанки</h1>
        <p>Комфортні місця для відпочинку з сімєю або друзями біля води.</p>
      </div>
      <div>
        <img src="assets/photos/greenSalmon.png" alt="">
        <h1>Прокат спорядження</h1>
        <p>Повне обладнання для успішної риболовлі та відпочинку.</p>
      </div>
      <div>
        <img src="assets/photos/greenSalmon.png" alt="">
        <h1>Організація заходів</h1>
        <p>Проведення корпоративів та святкувань на природі.</p>
      </div>
    </div>
  </div>

  <div class="section section4">
    <h1>Турніри</h1>
    <div class="tournaments">
      <div>
        <h1>Карповий Бум</h1>
        <h1>23 червня</h1>
        <p>Щорічний турнір для любителів рибалки на , обіцяємо хороші трофеї і незабуваємі емоції!</p>
      </div>
      <div>
        <h1>Осінній кубок</h1>
        <h1>23 жовтня</h1>
        <p>Щорічний турнір для досвідчених рибалок. Великі призи та незабутні емоції.</p>
      </div>
    </div>
  </div>
</div>