<footer *ngIf="!isAdmin" class="non-admin">
  <div id="footer">
    <a routerLink="/"><img src="../assets/photos/greenSalmon.png" class="logo" alt=""></a>
    <div class="contacts">
      <h1>Контакти</h1>
      <p>+380123456789</p>
      <p>+380987654321</p>
    </div>
    <div class="soc">
      <h1>Соціальні мережі</h1>
      <div class="socials">
        <a href="/"><img src="../assets/photos/insta (4).png" alt="" class="logo"></a>
        <a href="/"><img src="../assets/photos/insta .png" alt="" class="logo"></a>
        <a href="/"><img src="../assets/photos/x.png" alt="" class="logo"></a>
        <a href="/"><img src="../assets/photos/in.png" alt="" class="logo"></a>
      </div>
    </div>
  </div>
  <span id="abs-span">© Calm Waters  <br>All Rights Reserved</span>
</footer>