<div class="page2 non-admin">
  <div class="section section1">
    <div>
      <h1>Відпочинок у Тихій Воді</h1>
      <p>
        Тиха Вода — це ідеальне місце для тих, хто шукає спокою, гармонії з природою та незабутньої риболовлі. Наша база відпочинку розташована в мальовничому куточку, де кожен знайде щось для душі. Ми пропонуємо комфортні умови для відпочинку, чисте озеро та безліч можливостей для активного проведення часу.
      </p>
    </div>
    
    <div>
      <img id="pg2img" src="assets/photos/im6.png" alt="">
    </div>
  </div>

  <div class="section section3">
    <h1>Наші Переваги</h1>
    <div class="services serpage2">
      <div>
        <img src="assets/photos/greenSalmon.png" alt="">
        <h1>Вдала рибалка</h1>
        <p>Відкрийте для себе найкращі місця для риболовлі з великою кількістю риби, гарантуючи незабутній улов.</p>
      </div>
      <div>
        <img src="assets/photos/greenSalmon.png" alt="">
        <h1>Затишні Альтанки</h1>
        <p>Комфортні альтанки для відпочинку з сім'єю та друзями, де є все необхідне для приємного проведення часу.</p>
      </div>
      <div>
        <img src="assets/photos/greenSalmon.png" alt="">
        <h1>Тиха Природа</h1>
        <p>Це ідеальне місце, щоб повністю перезавантажитись, відновити сили та відчути єднання з навколишнім світом.</p>
      </div>
    </div>
  </div>

  <div class="placement section">
    <h1>Розташування та схема озера</h1>
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3172.9369266764907!2d23.611913124801745!3d48.030877303665484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1772809512492!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <img src="assets/photos/im7.png" alt="">
    </div>
  </div>
</div>